.navbar {
  padding: 15px 0;
  background-color: rgba(50, 50, 93, 0.9);
  transition: all 0.3s ease;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
}

.nav-link {
  font-weight: 500;
  padding: 10px 15px !important;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #5e72e4 !important;
}
