.home-section {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(135deg, #001f3f, #004d7a); /* Updated background gradient */

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.text-content {
  flex: 1;
  padding-right: 20px;
  color: #ffffff;
}

.greeting {
  color: #FFD700;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  color: #FFD700;
  font-size: 50px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

.role {
  color: #ffffff;
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
}

.bio {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.social-links {
  margin-bottom: 20px;
}

.social-links a {
  color: #FFD700;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.contact-btn {
  background-color: #FFD700;
  color: #001f3f;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #ffcc00;
}

.image-content {
  flex: 1;
  text-align: center;
  position: relative;
}

img {
  max-width: 90%;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
    padding: 20px;
  }
  .image-content {
    margin-top: 20px;
  }
  h1 {
    font-size: 36px;
  }
  .contact-btn {
    padding: 10px 20px;
  }
}
